<h2>Love to love illustrations</h2>
<!-- <button (click)="handleClick()" [disabled]="isDisabled"> -->
<!-- <button (click)="isShowing = !isShowing">
  <ng-container *ngIf="!isShowing">Show illustrations</ng-container>
  <ng-container *ngIf="isShowing">Hide illustrations</ng-container> -->
<!-- Toggle illustrations -->
<!-- </button> -->
<!-- <input type="text" (input)="handleInput($event)" />
<div>{{ myName }}</div> -->
<!-- <input type="text" [(ngModel)]="myName" /> -->
<!-- <div>{{ myName }}</div> -->

<!-- <ul *ngIf="isShowing">
  <li>
    <img [src]="src" [alt]="name" width="100" />
    {{ name }} by {{ author }}
  </li>
  <li>
    <img [src]="src2" [alt]="name2" width="100" />
    {{ name2 }} by {{ author2 }}
  </li>
</ul> -->

<!-- <button (click)="isShowing = !isShowing">Toggle</button> -->
<ul *ngIf="isShowing">
  <ng-container *ngFor="let singleIllustration of illustrations; let i = index">
    <app-illustration (illustrationEmitter)="addToCart($event)" [illustration]="singleIllustration"></app-illustration>
  </ng-container>
</ul>
